html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(
    90deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #ee7752,
    #e73c7e
  );
  background-size: 500% 100%;
  animation: gradient 20s linear infinite;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
