html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* prettier-ignore */
  background-image: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
