* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: antiquewhite;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
