* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.clearButton {
  cursor: pointer;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: blue;
  color: white;
  text-transform: uppercase;
}
