.testImage {
  width: 1336px;
  height: 630px;
  margin: 100px auto;
  background-image: url('../images/test_image.png');
  background-size: cover;
}

@media (min-resolution: 2x) {
  .testImage {
    background-image: url('../images/test_image@2x.png');
  }
}

@media (min-resolution: 3x) {
  .testImage {
    background-image: url('../images/test_image@3x.png');
  }
}
