* {
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  overflow: hidden;
}

section > div {
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  text-wrap: nowrap;
  color: white;
}
